<h1>All your trips</h1>

<!--
so here, you'll see a list of all your trips
and links to each trip (trips/show.erb)

also link to create new trip? (maybe add it on same page)

link_to "Create Trip", new_trip_path

-->
