<h1>Your Trip to <%= @trip.to_s %></h1>

<!-- this is where you have all your trip details

Date    Activity
7/1/19  Colosseum (link to Activity)


<add activity> => this will link to "activities/new"

-->

<h3>Current Itinerary:</h3>
  <% @trip.activities.each do |activity| %>
    <%= activity.name %>
  <% end %>

<%= button_to "Add new itinerary item", activities_path, method: "get", name: "trip_"%>
