<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="">
      <h1 id="main">globe trottr</h1>
      <p>This is an introductino to globe trottr</p>
    </div>
  </div>
</div>
