<h1>Homepage</h1>

<!--
because once you log in, you should be directed to your own user page?

you should have a link to:
*sign up (directed to "new")
*log in (directed to sessions/new view => then your "show" page)
-->
