<div class="container">
  <div class="d-flex justify-content-center h-100 smpad">
    <h2>sign up for globe trottr</h2>
  </div>

  <!-- so this page will be for if you are signing up -->
    <%= render "form", post: @user %>


</div>
