<h1>Your Profile</h1>

<!--
* your name
* your upcoming destinations (will link to trip/index)

* link to "create new trip" (will link to trip/new)
* link to "explore all destinations" => destinations/index

* edit profile (link to edit form "users/edit")


  -->
